/* RESET */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Montserrat;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-style: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

._container {
  max-width: 1076px;
  margin: 0 auto;
  padding: 0 15px;
}

._ibg {
  position: absolute;
} 

._ibg img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HEADER */

.header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__container {
  min-height: 104px;
  display: flex;
  align-items: center;
}

.header__logo {
  padding-right: 132px;
  font-size: 24px;
  font-weight: 700;
  line-height: calc(32 / 24 * 100%);
  letter-spacing: 0.1px;
  color: #252B42;
}

@media screen and (max-width: 767px) {
  .header__logo {
    padding-right: 80px;
  }
}

@media screen and (max-width: 449px) {
  .header__logo {
    padding-right: 50px;
  } 
}

.header__menu {

}
.menu {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  font-size: 14px;
  font-weight: 600;
  line-height: calc(24 / 14 * 100%);
  letter-spacing: 0.2px;
  color: #737373;
}

@media screen and (max-width: 449px) {
  .menu__item {
    font-size: 18px;
    color: #434343;
  } 
}

.menu__item:not(:last-child) {
  padding: 0 21px 0 0;
  
}
.menu__link {
}

/* MAIN */

.section-header {
  margin-bottom: 50px;
  text-align: center;
  margin-top: 80px;
}

@media screen and (max-width: 599px) {
  .section-header {
    margin-bottom: 20px;
  } 
}

@media screen and (max-width: 1199px) {
  .section-header {
    margin-bottom: 30px;
  }
}

.section-header__title {
  color: #252B42;
  font-size: 40px;
  font-weight: 700;
  line-height: calc(57 / 40 * 100%);
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1199px) {
  .section-header__title {
    font-size: 30px;
  }  
}

@media screen and (max-width: 599px) {
  .section-header__title {
    font-size: 25px;
  }
}

.section-header__sub-title {
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(20 / 14 * 100%);
  letter-spacing: 0.2px;
  max-width: 511px;
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .section-header__sub-title {
    font-size: 12px;
  }
}

/* HERO */

.main {
  flex: 1 1 auto;
}


.main__main-section {
  padding-top: 80px;
  padding-bottom: 191px;
  display: flex;    
}

@media screen and (max-width: 767px) {
  .main__main-section {
    padding-top: 40px;
  } 
}

@media screen and (max-width: 449px) {
  .main__main-section {
    padding-top: 10px;
  }  
}

.main-section {
  
}

.main-section__container {
  position: relative;
  max-width: 400px;
  z-index: 1;
}

.main-section__title {
  color: #252B42;
  font-size: 58px;
  font-weight: 800;
  line-height: calc((80 / 58) * 100%);
  letter-spacing: 0.2px;
}

@media screen and (max-width: 449px) {
  .main-section__title {
    font-size: 42px;
    font-weight: 700;
  }  
}

.main-section__sub-title {
  color: #737373;
  font-size: 20px;
  font-weight: 500;
  line-height: calc((30 / 20) * 100%);
  letter-spacing: 0.2px;
  margin-top: 35px;
}

@media screen and (max-width: 449px) {
  .main-section__sub-title {
    font-size: 15px;
    font-weight: 500;
    color: #434343;
  } 
}

.main-section__buttons {
  display: flex;
  margin-top: 35px;
}

@media screen and (max-width: 449px) {
  .main-section__buttons {
    flex-direction: column;
    align-items: end;
  }  
}

.hero-btn {
  border-radius: 37px;
  padding: 10px 36px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(28 / 14 * 100%);
  letter-spacing: 0.2px;
  cursor: pointer;
  transition: all 200ms ease;
}

@media screen and (max-width: 449px) {
  .hero-btn {
    flex-direction: column;
  }
}

.hero-btn:hover,
.hero-btn:focus {
  transform: scale(1.03);
  transition: all 200ms ease;
}

.main-section__button--get {
  color: #FFF;
  background-color: #FF7B47;
  margin-right: 10px;
}

@media screen and (max-width: 449px) {
  .main-section__button--get {
    margin-right: 0;
    margin-bottom: 5px;
  } 
 }

.main-section__button--learn {
  color: #0D5C63;
  background-color: inherit;
  border: 1px #0D5C63 solid;
}

.main-section__bgimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 793px;
  opacity: 0.8;   
}

@media screen and (max-width: 1300px) {
  .main-section__bgimage img {
    object-position: right;
  }
}

/* CARDS SECTION */

.section-cards {
  margin-top: -111px;
  position: relative;
}

.main__section-cards {
  
}

.section-cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.section-cards__card {
  min-width: 280px;
  padding: 40px 35px;
  box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
  background-color: #fff;
  margin: 0 15px;
  flex-basis: calc((100% - 90px) / 3);
  flex-grow: 1;
  transition: all 300ms ease;
}

@media screen and (max-width: 930px) {
  .section-cards__card:not(:last-child) {
    margin-bottom: 15px;
  }
} 

.section-cards__card:hover,
.section-cards__card:focus {
  cursor: pointer;
  background-color: #0d5c63;
  transition: all 300ms ease;
  transform: scale(1.05);
}

.section-cards__card:hover .section-cards__icon {
  fill: #FFF;
}

.section-cards__card:hover .section-cards__header {
  color: #FFF;
}

.section-cards__card:hover .section-cards__text {
  color: #FFF;
}

.section-cards__icon {
  width: 48px;
  height: 40px;
  margin-bottom: 10px;
  fill: #0d5c63;
}

.section-cards__header {
  color: #252B42;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: calc(32 / 24 * 100%);
  letter-spacing: 0.1px;
  margin-bottom: 10px;
}

.section-cards__text {
  color: #737373;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(20 / 14 * 100%);
  letter-spacing: 0.2px;
}

/* EXPERIENCE CARDS */

.main__experience {
}

.experience-block {
}

.experience-block__section {
  margin-top: 80px;
}

@media screen and (max-width: 599px) {
  .experience-block__section {
    margin-top: 30px;
  } 
}

@media screen and (max-width: 1199px) {
  .experience-block__section {
    margin-top: 40px;
  }  
}

.experience-block__list {
  display: flex;
  margin: 0 -20px;
  flex-wrap: wrap;
}

.experience-block__item {
  padding: 30px 30px;
  background-color: #fff;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 230px;
  flex-basis: calc((100% - 80px) / 5);
}

@media screen and (max-width: 1199px) {
  .experience-block__item {
    flex-basis: calc((100% - 80px) / 3);
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 599px) {
  .experience-block__item {
    flex-basis: 100%;
    margin-bottom: 15px;
  }  
}

.experience-block__icon {
  width: 48px;
  height: 44px;
  fill: #0D5C63;
}

.experience-block__title-card {
  color: #252B42;
  font-size: 40px;
  font-weight: 700;
  line-height: calc(57 / 40 * 100%);
  letter-spacing: 0.2px;
}

.experience-block__text {
  color: #737373;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(24 / 16 * 100%);
  letter-spacing: 0.1px;
}

/* ADVICES */

.main__advices {
  margin-bottom: 80px;
}

.advices__header {
}
.section-header {
}
.advices__title {
}


.advices__list {
  display: flex;
  margin: -10px -15px;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.advices__item {
  margin: 10px 15px;
  background-color: #fff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.advices__item-card {
  padding: 30px;
  max-width: 232px;
  flex: 1 1 auto;
}

@media screen and (max-width: 1099px) {
  .advices__item-card {
    max-width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .advices__item-card {
    max-width: 262px;
  }
}

.advices__item-title {
  color: #252B42;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(24 / 16 * 100%);
  letter-spacing: 0.1px;
  margin-bottom: 15px;
}

.advices__item-text {
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(20 / 14 * 100%);
  letter-spacing: 0.2px;
}

.advices__item-image {
  width: 100%;
}

/* ABOUT */

.main__about {
}

.about {
}


.about__header {
}

.about__title {
}

.about__sub-title {
}

.about__content {
  display: flex;
}

@media screen and (max-width: 699px) {
  .about__content {
    display: flex;
    flex-direction: column;
  } 
}

.about__video {
  width: 100%;
  max-height: 442px;
  margin-right: 120px;
}

@media screen and (max-width: 940px) {
  .about__video {
    max-height: 300px;
    margin-right: 60px
  } 
}

@media screen and (max-width: 699px) {
  .about__video {
    max-width: 350px;
  } 
}

.about__video iframe {
  width: 100%;
  height: 100%;
}

.about__block-info {
  
}

.block-info {
  max-width: 333px;
}

.block-info__title {
  margin: 20px 0 10px 0;
  color: #252B42;
  font-size: 40px;
  font-weight: 700;
  line-height: calc(57 / 40 * 100%);
  letter-spacing: 0.2px;
}

@media screen and (max-width: 699px) {
  .block-info__title {
    font-size: 25px;
  }
  
}

.block-info__sub-title {
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(20 / 14 * 100%); 
  letter-spacing: 0.2px;
  margin-bottom: 50px;
}

@media screen and (max-width: 699px) {
  .block-info__sub-title {
    font-size: 12px;
  }
  
}

.block-info__list {
  display: flex;
  flex-direction: column;
}

.block-info__list--item {
  display: flex;
}

.block-info__list--item:not(:last-child) {
  margin-bottom: 30px;
}

.block-info__icon {
  width: 32px;
  height: 32px;
}

.block-info__content {
  padding-left: 20px;
}



.block-info__content--title {
  color: #252B42;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(24 / 16 * 100%); 
  letter-spacing: 0.1px;
  margin-bottom: 5px;
}

.block-info__content--text {
  color: #737373;
  font-size: 14px;
  font-weight: 600;
  line-height: calc(24 / 16 * 100%);  
  letter-spacing: 0.2px;
}